body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

.cabecalho {    
    display: flex;
    position: fixed;
    top: 0;
    height: 100px;
    left: 0;
    width: 100%;
    background-color:#f5d939;
    z-index: 1;
}

.imagemcabecalho {
    width: 70px;
    margin: 10px 10px 10px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 25px;
    vertical-align: text-top;
    font-size: 30px;
}

ul {
    margin-top: 65px;
    margin-left: 100px;
    font-weight: bold;
    list-style: none;   
}

ul li {
    margin: 0px 15px 20px 15px;
    float: left;
    font-size: 20px;
    vertical-align: middle;
}

.item:hover {
    border-bottom: 2px solid red;
}

.botao {
    border: none;
    margin: 0 0 0 0;
    font-size: 27px;
    cursor: pointer;
}

.posicao-receitas {
    width: 80%;
    margin: 160px auto;
    display: grid;
    place-items:  center;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
}

.receitas {
    width: fit-content;
    background-color: #FFFFFF;
    border: 0 solid transparent;
    border-radius: 8px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px #aaaaaa;
}

.receitas:hover {
    transition: 0.2s;
    transform: scale(0.98);
}

.imagemcabecalho, .titulocabecalho{
    vertical-align: middle;
}


.imagem-receita {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width:450px;
    padding-bottom: 10px;
}


.titulo-receita, .categoria-receita, .favorito-vazio{
    margin: 0 0 0 10px;

}

.receita-titulo{
    font-weight: bold;
    font-size: 30px;
}

.categoria-receita{
    margin-top: 5px;
    margin-bottom: 5px;
}


.coracao{
    width: 18px;
}

.coracao:hover{
    width: 25px;
    cursor: pointer;
}

.categoria-receita{
    margin-top: 5px;
    margin-bottom: 5px;
}